/* if any name have one word so we can avoid this("") like bold 
    but if it have two word like (courier new) so we use ("")*/
h1{
    /* we add to fonts if one is not there so second work like back-up */
    font-family: Verdana, arial ;
}
p{
    font-family:"lucida console","courier new";
     /* 1un is define for 100% 
        16 px is define for normal */
    font-size:1un;
    font-weight: bold;
    font-style: italic;
}
