*{
    box-sizing: border-box;/*this help to don't change the size of the div
    it only move content inside the div(box)*/
}
#box1{
    border-style: dashed; 
    border-radius: 10px;
    border-color: rgb(126, 0, 245);
    border-width: 2.5px;
    border-top-left-radius: 30px;
    border-top: 3px solid rgb(247, 83, 83);
background-color: rgb(186, 120, 247);
height: 200px;
width: 200px;
}
#a{
    font-style: italic;
    font-family: fantasy;
    font-weight: 100;
    height: 200px;
    width: 200px;
    border-style: dashed;
    border-width: 3px;
    border-color: blue;
    border-radius: 10px;
    background-color: brown;
    color: snow;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: px;
    padding-top: 6px;
    margin: 20px;
}